In [3]:
1+2

3

In [5]:
[0.1]*10

[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]

In [6]:
sum([0.1]*10)

0.9999999999999999

In [11]:
from math import fsum
fsum([0.1]*10) == True

True

In [10]:
sum([.1]*10) != True

True

In [16]:
from collections import defaultdict
d = {'pepe':1}
e = defaultdict(lambda: -1)
e['pepe'] =5
print(e['pepe'])
print(e['caloo'])
try: 
    print(d['sdada']) 
except: 
    print('oops')

5
-1
oops

In [19]:
from pprint import pprint
from collections import defaultdict
d = defaultdict(list)
d['t'].append('tom')
d['t'].append('tom')
d['m'].append('mary')

pprint(d,width=40)

defaultdict(<class 'list'>,
            {'m': ['mary'],
             't': ['tom', 'tom']})

In [20]:
names='''
david betty susan mary darlene sandy davin shelly becky beatrice tom michael wallace
'''.split()

In [21]:
names

['david',
 'betty',
 'susan',
 'mary',
 'darlene',
 'sandy',
 'davin',
 'shelly',
 'becky',
 'beatrice',
 'tom',
 'michael',
 'wallace']

In [22]:
d = defaultdict(list)
for name in names:
    feature = name[0]
    d[feature].append(name)

In [24]:
pprint(d)

defaultdict(<class 'list'>,
            {'b': ['betty', 'becky', 'beatrice'],
             'd': ['david', 'darlene', 'davin'],
             'm': ['mary', 'michael'],
             's': ['susan', 'sandy', 'shelly'],
             't': ['tom'],
             'w': ['wallace']})

####  Key functions

In [25]:
pprint(sorted(names,key=len))

['tom',
 'mary',
 'david',
 'betty',
 'susan',
 'sandy',
 'davin',
 'becky',
 'shelly',
 'darlene',
 'michael',
 'wallace',
 'beatrice']

#### Transposing with Zip and star-args

In [31]:
list(zip('abcdef','ghijklm'))

[('a', 'g'), ('b', 'h'), ('c', 'i'), ('d', 'j'), ('e', 'k'), ('f', 'l')]

In [32]:
from itertools import zip_longest

In [33]:
list(zip_longest('abcdef','ghijklm'))

[('a', 'g'),
 ('b', 'h'),
 ('c', 'i'),
 ('d', 'j'),
 ('e', 'k'),
 ('f', 'l'),
 (None, 'm')]

In [34]:
list(zip_longest('abcdef','ghijklm', fillvalue='x'))

[('a', 'g'),
 ('b', 'h'),
 ('c', 'i'),
 ('d', 'j'),
 ('e', 'k'),
 ('f', 'l'),
 ('x', 'm')]

In [39]:
m=[
    [10,20],
    [30,40],
    [50,60]
]

list(zip(m[0],m[1],m[2]))

[(10, 30, 50), (20, 40, 60)]

In [43]:
pprint(list(zip(*m)),width=20)

[(10, 30, 50),
 (20, 40, 60)]

In [44]:
[pprint(col) for col in list(zip(*m))]

(10, 30, 50)
(20, 40, 60)

[None, None]

#### Flattening

In [45]:
[x for row in m for x in row]

[10, 20, 30, 40, 50, 60]

In [46]:
[x for row in list(zip(*m)) for x in row]

[10, 30, 50, 20, 40, 60]

####  Iterator to List

In [47]:
iter('abcdef')

In [48]:
list(iter('abcedf'))

['a', 'b', 'c', 'e', 'd', 'f']